<!doctype html>
<html lang="en">
  <head>
    <title>Hilal produit</title>
    <link rel="icon" href="logo.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.css">  </head>
  <body>

<body>
    <!-- start navbar  -->
    <nav class="navbar">
        <a class="navbar-brand" href="#" style="font-family: 'Permanent Marker', cursive;">
          <img src="logo.png" width="35" height="35" class="d-inline-block align-top" alt="">
          Hilal Sport
        </a>
        <a href="#" class="btn bg-primary">
          <span class="glyphicon glyphicon-log-out"></span> Log in
      </a>
    </nav>
    <!-- end navbar  -->

    <!-- start contenu  -->
    <div class="container"> <!-- nav bottom -->
        <div class=" jumbotron bg-primary" style="margin-top: 20px;">
            <h1>Animiation </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, rem consequuntur. Optio distinctio voluptatibus tempora cupiditate voluptas quibusdam earum asperiores aspernatur alias ex ad maxime, blanditiis inventore libero labore. Tempora!</p>
        </div>
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-dark">Fitness</a>
            <a href="#" class="btn btn-secondary">MMA</a>
            <a href="#" class="btn btn-dark">Crossfit</a>
            <a href="#" class="btn btn-secondary">Box</a>
        </div> 
        <!-- nav bottom  -->
        



       
        <div class="row" id="xProducts">
            <!-- enreprise -->
        </div>
    </div>
<!-- footer  -->
<footer>
    <div class="p-3 bg-dark text-white">
        <div class="d-flex justify-content-around">
            <p class="font-weight-light">Copyright réservé © 2020.</p>

        </div>   
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="jquery-3.4.1.min.js"></script>
<script src="bootstrap.js"></script>
<script src="script.js"></script>
</body>
</html>